@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

nav {
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 100;
    /* background-color: #723A20; */
}

nav ul li {
    display: inline-block;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.65);
    margin: 0 30px;
    cursor: pointer;
    transition: 700ms;

}

.container {
    height: 100vh;
}


footer {
    height: 150px;
    background-color: #E5E5E5;
    display: flex;
    width: 100%;
    align-items: center;
}

footer div {
    width: 33.333%;
    height: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #6a3b24b8;
    font-size: 18px;
    line-height: 36px;
    padding-left: 15px;
}

footer div:nth-of-type(2) {
    border-right: 1px solid #AFAFAF;
    border-left: 1px solid #AFAFAF;
    padding-left: 15px;
    box-sizing: border-box;
}

footer div:first-of-type {
    justify-content: center;
    padding-left: 0;
}

footer div img {
    color: #6E381E;
}

