

.notes-form{
    display: flex;
    flex-direction: column;
}

#my-notes {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    margin: 10px;
}

#my-notes div {
    width: 350px;
    margin: 10px;
    line-height: 25px;
    box-sizing: border-box;
    background-color: #E5E5E5;
    padding: 10px;
    border-radius: 6px;
    color: #6a3b24b8;
    
}

#note-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#editNote {
    display: none;
}

.active-button {
    display: inline-block !important;
}

.form-element {
    display: flex;
    margin: 10px 0;
    justify-content: flex-start;
    flex-direction: column;
}

.form-element label {
    box-sizing: border-box;
    padding: 0px 0px 2px 12px;
}

.form-element input,
.form-element textarea {
    width: 450px;
    border-radius: 6px;
}


textarea {
    height: 150px;
    resize: none;
}

.todo-form {
    display: flex;
    justify-content: center;
    margin: 120px 0;
}

.todo-form>div {
    width: 50%;
}

.form-guide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo button {
    color: white;
    box-sizing: border-box;
    color: #6E381E;
    border: 2px solid #6E381E;
    padding: 10px 15px;
    border-radius: 25px;
    background: white;
    cursor: pointer;
}


.todo h1 {
    font-size: 32px;
    font-weight: bold;
}

.todo ol {
    margin-top: 45px;
    list-style-type: decimal;
}

.todo ol li {
    margin: 10px 0;
}


@media screen and (max-width: 1024px) {
    .vertical{
        flex-direction: column;
        padding-top: 50px;
        align-items: center;
    }

    .todo {
        padding: 0;
        padding-top: 1px;
        height: 100%;
    }

    #todo .container {
        height: auto;
    }
    
    .todo-form {
        flex-direction: column;
    }

    .todo-form > div {
        width: 100%;
    }

    .form-element {
        justify-content: center;
        align-items: center;
    }

    .form-element input,
    .form-element textarea {
        width: 200px;
        border-radius: 6px;
       
    }

    
}